@import "./resetStyles";
/* Variables
  ============================= */

$font-family_primary: "Source Sans Pro", sans-serif;
$primary-color: white;
$value-image-scale: 1;

/* Global Styles
  ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  overflow-x: hidden;
  width: 100vw;
  font-family: $font-family_primary;
}

/* Header
  ============================= */
.header {
  display: flex;
  justify-content: center;
}
.navbar {
  background: transparent;
  position: absolute;
  z-index: 3;
  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__input {
    display: none;
  }

  &__label_hamburger {
    display: inline-block;
    position: relative;
    top: 34px;
    left: 29px;
  }

  &__options {
    text-align: center;
    list-style: none;
    & li {
      padding-top: 7px;
      line-height: 1px;
    }
    & li a {
      color: transparent;
    }
  }

  &__logo_container {
    display: block;
    width: 100vw;
    text-align: center;
    &_imagen {
      max-width: 161px;
    }
  }
}

.linea {
  margin: 4px 4px;
  display: block;
  background: white;
  user-select: none;
  width: 15px;
  height: 2.5px;
  transition: transform 0.2s ease;
}

.linea1,
.linea3 {
  width: 20px;
}

.navbar__input:checked + .navbar__label_hamburger {
  & .linea1 {
    position: relative;
    top: 6.5px;
    transform: rotate(45deg);
    transition: transform 0.2s ease;
  }
  & .linea2 {
    background: transparent;
  }
  & .linea3 {
    position: relative;
    top: -6.5px;
    transform: rotate(-45deg);
    transition: transform 0.2s ease;
  }
}

.navbar__input:checked ~ .navbar__options {
  & li {
    padding-top: 40px;
    transition: all 0.3s ease;
  }
  & li a {
    color: $primary-color;
    text-decoration: none;
  }
}

/* Hero Section
  ============================= */
.hero {
  width: 100%;
  text-align: center;
  &__body {
    max-height: 900px;
    padding: 0;
  }

  & .hero__body .hero__image {
    display: block;
    width: 100vw;
    height: 869px;
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }

  & .hero-info {
    max-width: 1440px;
    position: relative;
    top: -500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
    color: $primary-color;

    & .hero-button {
      margin: 30px auto 60px;
      padding: 15px 15px;
      width: 160px;
      border-radius: 30px;
      background: #ff6565;
      color: $primary-color;
      border: none;
      &:hover {
        opacity: 0.8;

      }
    }
  }
}

/* What We do section
  ============================= */
.what_we_do {
  padding: 25px;
  text-align: center;
  &_header h2 {
    padding: 60px 30px;
    z-index: 30;
  }
  &_body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    & .card {
      flex-basis: 300px;
      padding-top: 60px;
      padding-bottom: 60px;
      line-height: 30px;
    }
  }
}

/* Our Result Section
  ============================= */
.our_result {
  width: 100vw;
  height: fit-content;
  text-align: center;
  color: $primary-color;
  padding: 25px 0 25px;
  background-color: #071629;
  background-image: url("./images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: -260px -30px;

  &_header {
    & h2 {
      padding: 125px 0 40px;
    }
  }
  &_body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    & .imagen_body {
      width: 190px;
      height: 190px;
      margin: 42px;
      background-image: url("./images/pentagone.png");
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      & span {
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}

/* Tablet view Styles
  ============================= */
@media screen and (min-width: 767px) {
  .navbar {
    background: transparent;
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 9% 0 9%;
    box-sizing: border-box;
    z-index: 3;

    &__input, &__label_hamburger  {
      display: none;
    }

    &__logo_container {
      flex-basis: 50%;
      text-align: left;
      &_imagen {
        max-width: 161px;
      }
    }

    &__options {
      flex-basis: 50%;
      display: flex;
      justify-content: space-evenly;
      & li a {
        color: $primary-color;
        text-decoration: none;
        &:hover{
          color: #ff6565;
        }
      }
    }
  }
  .hero {
    &__image {
      max-height: 800px;
    }
    & .hero-info {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  .what_we_do_header{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .our_result_header {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 1440px) {
  .navbar {
    max-width: 1440px;
  }
  .what_we_do_header{
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 400px;
    padding-right: 400px;
  }
  .hero {
    & .hero-info {
      margin: 0 auto;
      padding-left: 400px;
      padding-right: 400px;
    }
  }
  .our_result_header {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 400px;
    padding-right: 400px;
  }
}