.what_we_do {
  display: block;
  position: fixed;
  bottom: 0;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 10% 0 20px;
  background: transparent;
  height: auto;
}

.hamburger-menu {
  flex-basis: 10%;
}

.logo_headphones {
  flex-basis: 80%;
}


.hamburger-menu--togle {
  display: none;
}

.hamburger-menu {
  height: 20px;
  cursor: pointer;
}

.linea {
  margin: 4px 4px;
  display: block;
  background: white;
  user-select: none;
  width: 15px;
  height: 2.5px;
  transition: transform .2s ease;
}

.linea1, .linea3 {
  width: 20px;
}

.hamburger-menu--togle:checked + label .linea1 {
  position: relative;
  top: 6.5px;
  transform: rotate(45deg);
  transition: transform .2s ease;
}

.hamburger-menu--togle:checked + label .linea2 {
  background: transparent;
}

.hamburger-menu--togle:checked + label .linea3{
  position: relative;
  top: -6.5px;
  transform: rotate(-45deg);
  transition: transform .2s ease;
}

.image-logo {
  margin: 0 auto;
  width: 161px;
  height: auto;
  flex: 0 0 0;
}

.hero .container {
  position: absolute;
  top: 0px;
  height: 100vh;
  background-image: url('./images/headphones_hero_1.jpg');
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 35% 10%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-primary);
  overflow: visible;
  padding: 20px;
}

.hero .container .hero-title {
  text-align: center;
  color: white;
  font-weight: 700;
  line-height: 40px;
  margin-top: 350px;
}

.hero .container .hero-title-text {
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.hero .container .hero-paragraph {
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.hero .container .hero-button {
  padding: 15px;
  border-radius: 30px;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  color: white;
  background: #FF6565;
  border: none;
  margin-top: 30px;
  margin-bottom: 60px;
}

.hamburger-menu--togle:checked ~ .menu-opciones {
  display: block;
}

.hamburger-menu--togle:checked ~ .menu-opciones li {
  padding-top: 50px;
  visibility: visible;
  transition: all 0.2s ease;
}

.hamburger-menu--togle:checked ~ .menu-opciones li a{
  transition: all 0.2s ease;
  color: white;
}

.menu-opciones {
  text-align: center;
  flex-basis: 100%;
  display: block;
  line-height: 1px;
  list-style: none;
}

.menu-opciones li {
  padding-top: 0px;
  transition: all 0.2s ease;
}

.menu-opciones a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
}

.hamburger-menu--togle:checked ~ .hero {
  display: none;
}

@media screen and (min-width: 767px) {
  .hamburger-menu--togle {
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 10% 0 20px;
    background: transparent;
    height: auto;
  }
  .hamburger-menu {
    display: none;
  }
  .image-logo {
    flex-basis: 50%;
    flex: 0 0 0;
  }
  .menu-opciones {
    flex-basis: 50%;
  }

  .menu-opciones li {
    display: inline-block;
    padding-left: 10px;;
  }

  .menu-opciones a {
    text-decoration: none;
    color: white;
  }
}